@keyframes animateSlideCartOpen {
  0% {
    right: -55vw;
    opacity: 0;
  }
  50% {
    right: -20vw;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
@keyframes animateSlideCartClose {
  0% {
    right: 0;
    opacity: 1;
  }
  50% {
    right: -20vw;
    opacity: 0;
  }
  100% {
    right: -55vw;
    opacity: 0;
  }
}
@keyframes animateSlideMenuOpen {
  from {
    top: 100vh;
  }
  to {
    top: 0;
  }
}
@keyframes animateSlideMenuClose {
  from {
    top: 0;
  }
  to {
    top: -100vh;
  }
}
@keyframes animateSlideAuthOpen {
  from {
    right: -25vw;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
@keyframes animateSlideAuthClose {
  from {
    right: 0;
    opacity: 1;
  }
  to {
    right: -25vw;
    opacity: 0;
  }
}
